# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [3]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [4]:
# Upload credit_card_transactions.csv to Colab
#from google.colab import files

#csv_file = files.upload()

url = "https://raw.githubusercontent.com/justcb/venture_funding/main/Resources/applicants_data.csv"

applicant_data_df = pd.read_csv(url)

In [5]:

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [7]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns='EIN')
applicant_data_df = applicant_data_df.drop(columns='NAME')

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [8]:
# Create a list of categorical variables 
categorical_variables = categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [10]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [11]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame

encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [12]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_variables = applicant_data_df.drop(columns = categorical_variables)
encoded_df = pd.concat(
    [numerical_variables,
    encoded_df],
    axis=1
)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [13]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [14]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns="IS_SUCCESSFUL")

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [15]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [16]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [17]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [18]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [19]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  58

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [20]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  29

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [21]:
# Create the Sequential model instance
nn = Sequential()

In [22]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation = "relu"))

In [23]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation = "relu"))

In [24]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(1, activation="sigmoid"))

In [25]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [26]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [27]:
# Fit the model using 50 epochs and the training data
nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 0.5758 - accuracy: 0.7192
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5544 - accuracy: 0.7294
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7318
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7311
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7330
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7332
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7327
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7348
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7351
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7343
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7337
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7351
Epoch 13/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5406 - accuracy: 0.7345
Epoch 14/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5401 - accuracy: 0.7358
Epoch 15/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5407 - accuracy: 0.7358
Epoch 16/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5396 - accuracy: 0.7348
Epoch 17/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5394 - accuracy: 0.7348
Epoch 18/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5389 - accuracy: 0.7368
Epoch 19/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5381 - accuracy: 0.7365
Epoch 20/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5380 - accuracy: 0.7386
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5381 - accuracy: 0.7375
Epoch 22/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5376 - accuracy: 0.7379
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7374
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7389
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7373
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7376
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7379
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7374
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7384
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7378
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7391
Epoch 32/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5352 - accuracy: 0.7393
Epoch 33/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5346 - accuracy: 0.7392
Epoch 34/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5345 - accuracy: 0.7386
Epoch 35/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5345 - accuracy: 0.7387
Epoch 36/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5344 - accuracy: 0.7388
Epoch 37/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5338 - accuracy: 0.7400
Epoch 38/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5337 - accuracy: 0.7402
Epoch 39/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5335 - accuracy: 0.7394
Epoch 40/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5334 - accuracy: 0.7397
Epoch 41/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5330 - accuracy: 0.7400
Epoch 42/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5332 - accuracy: 0.7407
Epoch 43/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5333 - accuracy: 0.7398
Epoch 44/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5331 - accuracy: 0.7404
Epoch 45/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5331 - accuracy: 0.7403
Epoch 46/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5326 - accuracy: 0.7415
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5327 - accuracy: 0.7408
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5322 - accuracy: 0.7400
Epoch 49/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5321 - accuracy: 0.7407
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5317 - accuracy: 0.7418

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [28]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5534 - accuracy: 0.7287 - 759ms/epoch - 3ms/step
Loss: 0.5534261465072632, Accuracy: 0.7287463545799255

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [29]:
# Set the model's file path

# Because I am working in Google Colab, the file path is not relevant.  So, I simply saved it to the same folder and used the name AlphabetSoup.h5.

# Export your model to a HDF5 file
nn.save("AlphabetSoup.h5")

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [30]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [31]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [32]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 80

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

80

In [33]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A1 = 40

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A1

40

In [34]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer3_A1 = 20

# Review the number of hidden nodes in the first layer
hidden_nodes_layer3_A1

20

In [35]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [36]:
# Add the first hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation = "relu"))
# Add the second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation = "relu"))
# Add the third hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer3_A1, activation = "relu"))
# Add the output layer to the model specifying the number of output neurons and activation function
nn_A1.add(Dense(1, activation="sigmoid"))
# Display the Sequential model summary
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                9360

 dense_4 (Dense)             (None, 40)                3240

 dense_5 (Dense)             (None, 20)                820

 dense_6 (Dense)             (None, 1)                 21

=================================================================
Total params: 13,441
Trainable params: 13,441
Non-trainable params: 0
_________________________________________________________________

In [37]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [38]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5715 - accuracy: 0.7213
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5514 - accuracy: 0.7301
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5479 - accuracy: 0.7321
Epoch 4/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5456 - accuracy: 0.7325
Epoch 5/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5453 - accuracy: 0.7338
Epoch 6/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5442 - accuracy: 0.7341
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7355
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7353
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7357
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7369
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7359
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7367
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7361
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7381
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7374
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7374
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7383
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7373
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7390
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7387
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7387
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7385
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7384
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7390
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7381
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7388
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7393
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7401
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7397
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7406
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7398
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7400
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7404
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7397
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7393
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7407
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7399
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7403
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7410
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7408
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7405
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7410
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7402
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7411
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7413
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7409
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7412
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7403
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7411
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7421

#### Alternative Model 2

In [39]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [40]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [41]:
nn_A2 = Sequential()

hidden_nodes_layer1_A2 = 40
hidden_nodes_layer2_A2 = 20
hidden_nodes_layer3_A2 = 10

# Add the first hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation = "relu"))
# Add the second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation = "relu"))
# Add the third hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation = "relu"))
# Add the output layer to the model specifying the number of output neurons and activation function
nn_A2.add(Dense(1, activation="sigmoid"))
# Display the Sequential model summary
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 40)                4680

 dense_8 (Dense)             (None, 20)                820

 dense_9 (Dense)             (None, 10)                210

 dense_10 (Dense)            (None, 1)                 11

=================================================================
Total params: 5,721
Trainable params: 5,721
Non-trainable params: 0
_________________________________________________________________

In [42]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [43]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=200)

Epoch 1/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5804 - accuracy: 0.7183
Epoch 2/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7301
Epoch 3/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7313
Epoch 4/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7340
Epoch 5/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7333
Epoch 6/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7330
Epoch 7/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7329
Epoch 8/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7342
Epoch 9/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7345
Epoch 10/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7350
Epoch 11/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7357
Epoch 12/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7358
Epoch 13/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7362
Epoch 14/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7362
Epoch 15/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7373
Epoch 16/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7381
Epoch 17/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7365
Epoch 18/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7380
Epoch 19/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7384
Epoch 20/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7390
Epoch 21/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7381
Epoch 22/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7388
Epoch 23/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7391
Epoch 24/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7393
Epoch 25/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7383
Epoch 26/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7395
Epoch 27/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7378
Epoch 28/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7388
Epoch 29/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7395
Epoch 30/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5351 - accuracy: 0.7395
Epoch 31/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7391
Epoch 32/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7390
Epoch 33/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7390
Epoch 34/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7390
Epoch 35/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7397
Epoch 36/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7399
Epoch 37/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7390
Epoch 38/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7406
Epoch 39/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7398
Epoch 40/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7400
Epoch 41/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7402
Epoch 42/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7410
Epoch 43/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7393
Epoch 44/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7420
Epoch 45/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7402
Epoch 46/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7409
Epoch 47/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7410
Epoch 48/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7413
Epoch 49/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7408
Epoch 50/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7405
Epoch 51/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7409
Epoch 52/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7416
Epoch 53/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7414
Epoch 54/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7414
Epoch 55/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7415
Epoch 56/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7418
Epoch 57/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7413
Epoch 58/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7415
Epoch 59/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7413
Epoch 60/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7412
Epoch 61/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7417
Epoch 62/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7405
Epoch 63/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7421
Epoch 64/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7406
Epoch 65/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7420
Epoch 66/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7411
Epoch 67/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7421
Epoch 68/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7417
Epoch 69/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7421
Epoch 70/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7414
Epoch 71/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7412
Epoch 72/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7420
Epoch 73/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7415
Epoch 74/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7417
Epoch 75/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7410
Epoch 76/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7416
Epoch 77/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7424
Epoch 78/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7415
Epoch 79/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5297 - accuracy: 0.7422
Epoch 80/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7419
Epoch 81/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5297 - accuracy: 0.7419
Epoch 82/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7427
Epoch 83/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5296 - accuracy: 0.7422
Epoch 84/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5295 - accuracy: 0.7415
Epoch 85/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7423
Epoch 86/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5295 - accuracy: 0.7414
Epoch 87/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7421
Epoch 88/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7418
Epoch 89/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7415
Epoch 90/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5293 - accuracy: 0.7420
Epoch 91/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7414
Epoch 92/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7419
Epoch 93/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7424
Epoch 94/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7426
Epoch 95/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7421
Epoch 96/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7425
Epoch 97/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7422
Epoch 98/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7415
Epoch 99/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7420
Epoch 100/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7419
Epoch 101/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5289 - accuracy: 0.7423
Epoch 102/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5287 - accuracy: 0.7418
Epoch 103/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7420
Epoch 104/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7418
Epoch 105/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7428
Epoch 106/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7425
Epoch 107/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5283 - accuracy: 0.7416
Epoch 108/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7416
Epoch 109/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7425
Epoch 110/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7423
Epoch 111/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7416
Epoch 112/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5284 - accuracy: 0.7421
Epoch 113/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5283 - accuracy: 0.7425
Epoch 114/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7413
Epoch 115/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5283 - accuracy: 0.7423
Epoch 116/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7422
Epoch 117/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7421
Epoch 118/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7419
Epoch 119/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7423
Epoch 120/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5278 - accuracy: 0.7425
Epoch 121/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7427
Epoch 122/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5280 - accuracy: 0.7422
Epoch 123/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5281 - accuracy: 0.7418
Epoch 124/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5276 - accuracy: 0.7431
Epoch 125/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5280 - accuracy: 0.7424
Epoch 126/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5278 - accuracy: 0.7421
Epoch 127/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5280 - accuracy: 0.7418
Epoch 128/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5284 - accuracy: 0.7427
Epoch 129/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7427
Epoch 130/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7421
Epoch 131/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5275 - accuracy: 0.7428
Epoch 132/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7421
Epoch 133/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5278 - accuracy: 0.7426
Epoch 134/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5276 - accuracy: 0.7422
Epoch 135/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5276 - accuracy: 0.7431
Epoch 136/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5274 - accuracy: 0.7418
Epoch 137/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5280 - accuracy: 0.7435
Epoch 138/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5276 - accuracy: 0.7419
Epoch 139/200
804/804 [==============================] - 6s 7ms/step - loss: 0.5275 - accuracy: 0.7429
Epoch 140/200
804/804 [==============================] - 5s 7ms/step - loss: 0.5275 - accuracy: 0.7430
Epoch 141/200
804/804 [==============================] - 5s 6ms/step - loss: 0.5274 - accuracy: 0.7431
Epoch 142/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5279 - accuracy: 0.7422
Epoch 143/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5274 - accuracy: 0.7427
Epoch 144/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5277 - accuracy: 0.7425
Epoch 145/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5275 - accuracy: 0.7432
Epoch 146/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5275 - accuracy: 0.7427
Epoch 147/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5274 - accuracy: 0.7421
Epoch 148/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5270 - accuracy: 0.7431
Epoch 149/200
804/804 [==============================] - 4s 4ms/step - loss: 0.5274 - accuracy: 0.7432
Epoch 150/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5274 - accuracy: 0.7429
Epoch 151/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5276 - accuracy: 0.7420
Epoch 152/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5272 - accuracy: 0.7425
Epoch 153/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5272 - accuracy: 0.7441
Epoch 154/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5268 - accuracy: 0.7435
Epoch 155/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5274 - accuracy: 0.7434
Epoch 156/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5272 - accuracy: 0.7413
Epoch 157/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5273 - accuracy: 0.7422
Epoch 158/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5267 - accuracy: 0.7429
Epoch 159/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5275 - accuracy: 0.7424
Epoch 160/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5269 - accuracy: 0.7417
Epoch 161/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5269 - accuracy: 0.7427
Epoch 162/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5269 - accuracy: 0.7431
Epoch 163/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5268 - accuracy: 0.7423
Epoch 164/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5272 - accuracy: 0.7427
Epoch 165/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5270 - accuracy: 0.7426
Epoch 166/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5270 - accuracy: 0.7430
Epoch 167/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5270 - accuracy: 0.7432
Epoch 168/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5270 - accuracy: 0.7433
Epoch 169/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5267 - accuracy: 0.7430
Epoch 170/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5269 - accuracy: 0.7430
Epoch 171/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5269 - accuracy: 0.7433
Epoch 172/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5269 - accuracy: 0.7427
Epoch 173/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5270 - accuracy: 0.7427
Epoch 174/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5265 - accuracy: 0.7422
Epoch 175/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5267 - accuracy: 0.7420
Epoch 176/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5263 - accuracy: 0.7433
Epoch 177/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5270 - accuracy: 0.7435
Epoch 178/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5264 - accuracy: 0.7430
Epoch 179/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5263 - accuracy: 0.7430
Epoch 180/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5265 - accuracy: 0.7439
Epoch 181/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5269 - accuracy: 0.7430
Epoch 182/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5269 - accuracy: 0.7427
Epoch 183/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5261 - accuracy: 0.7435
Epoch 184/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5267 - accuracy: 0.7425
Epoch 185/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5264 - accuracy: 0.7426
Epoch 186/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5266 - accuracy: 0.7427
Epoch 187/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5266 - accuracy: 0.7430
Epoch 188/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5263 - accuracy: 0.7432
Epoch 189/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5264 - accuracy: 0.7430
Epoch 190/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5268 - accuracy: 0.7439
Epoch 191/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5265 - accuracy: 0.7427
Epoch 192/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5265 - accuracy: 0.7434
Epoch 193/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5264 - accuracy: 0.7435
Epoch 194/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5266 - accuracy: 0.7432
Epoch 195/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5266 - accuracy: 0.7431
Epoch 196/200

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [46]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5534 - accuracy: 0.7287 - 354ms/epoch - 1ms/step
Loss: 0.5534261465072632, Accuracy: 0.7287463545799255

In [47]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss_A1, model_accuracy_A1 =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss_A1}, Accuracy: {model_accuracy_A1}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5578 - accuracy: 0.7296 - 481ms/epoch - 2ms/step
Loss: 0.5578099489212036, Accuracy: 0.7295626997947693

In [48]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss_A2, model_accuracy_A2 = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss_A2}, Accuracy: {model_accuracy_A2}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5628 - accuracy: 0.7294 - 379ms/epoch - 1ms/step
Loss: 0.5628219246864319, Accuracy: 0.7294460535049438

### Step 3: Save each of your alternative models as an HDF5 file.

In [49]:
# Export your model to a HDF5 file

nn_A1.save("AlphabetSoupA1.h5")
nn_A2.save("AlphabetSoupA2.h5")